# server only
RPC_URL=https://mainnet.helius-rpc.com/?api-key=...
PINATA_JWT=
# IPFS_GATEWAY=https://ipfs.io/ipfs/

# public
NEXT_PUBLIC_TREASURY=
# fees in SOL (defaults shown)
# NEXT_PUBLIC_FEE_CREATE_SOL=0.1
# NEXT_PUBLIC_FEE_REVOKE_FREEZE_SOL=0.1
# NEXT_PUBLIC_FEE_REVOKE_MINT_SOL=0.1
# NEXT_PUBLIC_FEE_REVOKE_UPDATE_SOL=0.1
# NEXT_PUBLIC_FEE_CREATE_LIQUIDITY_SOL=0.2
# NEXT_PUBLIC_FEE_REMOVE_LIQUIDITY_SOL=0.05
